# Local environment
.env

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/

# Version control
.git
.gitignore

# Databases
*.db

# Docker
.dockerignore
Dockerfile
docker-compose.yml