swagger: '2.0'
info:
  title: Newsletter Aggregator API
  description: API for the Newsletter Aggregator service
  version: 1.0.0
host: newsletter-aggregator-gateway-axs105xr.uc.gateway.dev
schemes:
  - https
produces:
  - application/json
x-google-backend:
  address: https://newsletter-aggregator-857170198287.us-central1.run.app
  protocol: h2
x-google-management:
  metrics:
    - name: "requests"
      displayName: "Requests"
      valueType: INT64
      metricKind: DELTA
  quota:
    limits:
      - name: "requests-per-project"
        metric: "requests"
        unit: "1/min/{project}"
        values:
          STANDARD: 1000
x-google-endpoints:
  - name: newsletter-aggregator-857170198287.us-central1.run.app
    allowCors: true

paths:
  /api/update/status:
    get:
      operationId: getUpdateStatus
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: Update status response
          schema:
            type: object
            properties:
              status:
                type: string
              last_update:
                type: string

  /api/update/start:
    post:
      operationId: startUpdate
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30.0
      responses:
        '200':
          description: Update started successfully
          schema:
            type: object
            properties:
              message:
                type: string

  /api/articles:
    get:
      operationId: getArticles
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      parameters:
        - name: topic
          in: query
          type: string
          required: false
        - name: limit
          in: query
          type: integer
          required: false
      responses:
        '200':
          description: List of articles
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                title:
                  type: string
                url:
                  type: string
                date:
                  type: string
                source:
                  type: string
                topic:
                  type: string

  /api/topics:
    get:
      operationId: getTopics
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: List of topics
          schema:
            type: array
            items:
              type: string

  /api/rag:
    post:
      operationId: queryRag
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      parameters:
        - name: query
          in: body
          required: true
          schema:
            type: object
            properties:
              query:
                type: string
      responses:
        '200':
          description: RAG query response
          schema:
            type: object
            properties:
              answer:
                type: string
              sources:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    url:
                      type: string

  /api/admin/cleanup-duplicates:
    post:
      operationId: adminCleanupDuplicates
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Cleanup duplicates operation completed
          schema:
            type: object
            properties:
              message:
                type: string

  /api/admin/export-csv:
    get:
      operationId: adminExportCsv
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: CSV export completed
          schema:
            type: object
            properties:
              url:
                type: string

  /api/admin/force-sync:
    post:
      operationId: adminForceSync
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Force sync operation completed
          schema:
            type: object
            properties:
              message:
                type: string

  /api/articles/{article_id}/analyze:
    post:
      operationId: analyzeArticle
      parameters:
        - name: article_id
          in: path
          required: true
          type: string
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Article analysis completed
          schema:
            type: object

  /api/kumby/clinical-trial:
    post:
      operationId: analyzeClinicalTrial
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Clinical trial analysis completed
          schema:
            type: object

  /api/kumby/digital-health:
    post:
      operationId: analyzeDigitalHealth
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Digital health analysis completed
          schema:
            type: object

  /api/kumby/drug:
    post:
      operationId: analyzeDrugDevelopment
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Drug development analysis completed
          schema:
            type: object

  /api/kumby/manufacturing:
    post:
      operationId: analyzeManufacturing
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Manufacturing analysis completed
          schema:
            type: object

  /api/kumby/market-access:
    post:
      operationId: analyzeMarketAccess
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Market access analysis completed
          schema:
            type: object

  /api/kumby/patent:
    post:
      operationId: analyzePatent
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Patent analysis completed
          schema:
            type: object

  /api/kumby/pipeline:
    post:
      operationId: analyzePipeline
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Pipeline analysis completed
          schema:
            type: object

  /api/kumby/regulatory:
    post:
      operationId: analyzeRegulatoryImpact
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Regulatory impact analysis completed
          schema:
            type: object

  /api/kumby/regulatory-strategy:
    post:
      operationId: analyzeRegulatoryStrategy
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Regulatory strategy analysis completed
          schema:
            type: object

  /api/kumby/safety:
    post:
      operationId: analyzeSafety
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Safety analysis completed
          schema:
            type: object

  /api/kumby/therapeutic-area:
    post:
      operationId: analyzeTherapeuticArea
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Therapeutic area analysis completed
          schema:
            type: object

  /api/kumby/value-evidence:
    post:
      operationId: analyzeValueEvidence
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Value evidence analysis completed
          schema:
            type: object

  /api/update:
    post:
      operationId: updateArticles
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Articles update completed
          schema:
            type: object

  /api/update/cancel:
    post:
      operationId: cancelUpdate
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: Update cancelled successfully
          schema:
            type: object
            properties:
              message:
                type: string

  /api/analysis/saved:
    get:
      operationId: getSavedAnalyses
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: List of saved analyses
          schema:
            type: array
            items:
              type: object

  /api/analysis/saved/{analysis_id}:
    get:
      operationId: getSavedAnalysis
      parameters:
        - name: analysis_id
          in: path
          required: true
          type: string
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: Saved analysis details
          schema:
            type: object
    delete:
      operationId: deleteSavedAnalysis
      parameters:
        - name: analysis_id
          in: path
          required: true
          type: string
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: Analysis deleted successfully
          schema:
            type: object

  /api/analysis/save:
    post:
      operationId: saveAnalysis
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: Analysis saved successfully
          schema:
            type: object

  /api/rag/stream:
    post:
      operationId: streamRagQuery
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Streaming RAG query response
          schema:
            type: object
    get:
      operationId: streamRagQueryGet
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: Streaming RAG query response
          schema:
            type: object

  /api/rag/history:
    get:
      operationId: getRagHistory
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: RAG query history
          schema:
            type: array
            items:
              type: object
    delete:
      operationId: clearRagHistory
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: RAG history cleared
          schema:
            type: object
            properties:
              message:
                type: string

  /api/sources:
    get:
      operationId: getSources
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: List of sources
          schema:
            type: array
            items:
              type: string

  /api/topics/stats:
    get:
      operationId: getTopicStats
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 10.0
      responses:
        '200':
          description: Topic statistics
          schema:
            type: object

  /api/kumbyai/chat:
    post:
      operationId: kumbyaiChat
      x-google-backend:
        address: https://newsletter-aggregator-857170198287.us-central1.run.app
        deadline: 30.0
      responses:
        '200':
          description: KumbyAI chat response
          schema:
            type: object

 